h1 {
    font-weight: bold !important;
    font-size: 32px !important;
    margin-top: 12px !important;
}
h2 {
    font-weight: bold !important;
    font-size: 24px !important;
    margin-top: 10px !important;
}
h3 {
    font-weight: bold !important;
    font-size: 20px !important;
    margin-top: 5px !important;
}

a {
    text-decoration-line: underline !important;
}

li {
    list-style-type: disc;
    margin-left: 20px;
}

/* body {
    font-weight: bold;
} */