h1 {
    font-weight: bold !important;
    font-size: 32px !important;
    margin-top: 32px !important;
}
h2 {
    font-weight: bold !important;
    font-size: 24px !important;
    margin-top: 28px !important;
}
h3 {
    font-weight: bold !important;
    font-size: 20px !important;
    margin-top: 20px !important;
}

body {
    @apply pb-36;
}

a {
    text-decoration-line: underline !important;
}

ul li { 
    list-style-type: disc;
    margin-left: 20px;
}

ol li {
    list-style-type: decimal;
    margin-left: 20px;
}

img {   
    @apply my-2 object-contain max-h-96 mx-auto
}

code {
    @apply bg-blue-100 p-[2px] border border-blue-800 rounded-sm !text-sm; 
}

/* body {
    font-weight: bold;
} */