---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Josh Keller - Software Developer, ConnectedXM, BYU MISM Candidate"
    />
    <meta name="generator" content={Astro.generator} />
    <title>josh keller</title>
  </head>
  <div class="h-screen w-full flex justify-center items-center bg-camden-blue">
    <a href="/posts">
      <h1 class="text-center text-4xl font-black py-8 px-12 header">
        josh keller
      </h1>
    </a>
  </div>


</html>
